In [1]:
import pandas as pd
import numpy as np
import matplitlib.pyplot as plt
from sklearn import linear_model

ModuleNotFoundError: No module named 'matplitlib'

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [3]:
#scikitlearn library contains all the models

In [4]:
data = {'Area' : [2500,3000,3200,3500] , 'Price':[1000,2000,2500,3000]}

In [5]:
df = pd.DataFrame(data)

In [6]:
df

   Area  Price
0  2500   1000
1  3000   2000
2  3200   2500
3  3500   3000

In [ ]:
df.